.active {
  border: 1px solid var(--ion-color-active);
}

.inactive {
  border: 1px solid var(--ion-color-inactive);
}

.none {
  border: 1px solid var(--ion-color-none);
}

.dead {
  border: 1px solid var(--ion-color-dead);
}

//https://ionicacademy.com/ionic-ui-theming/
