<ion-card
  [ngClass]="{
    active: internementActive && buttonsActionsActive == false,
    inactive: internementActive === false && buttonsActionsActive == false,
    none: internementActive === null && buttonsActionsActive == false,
    dead: buttonsActionsActive
  }"
>
  <ion-card-header color="light">
    <ion-card-title>
      <ion-icon name="person-circle-outline"></ion-icon>
      {{ title }}
    </ion-card-title>
    <ion-card-subtitle>{{ subtitle }}</ion-card-subtitle>
  </ion-card-header>
  <ion-item color="light">
    <ion-button
      color="primary"
      (click)="callback1()"
      *ngIf="callBack1.isActive"
    >
      <ion-icon [name]="callBack1.icon" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-button
      color="success"
      (click)="callback2()"
      *ngIf="callBack2.isActive && AMIGuard() && !buttonsActionsActive"
    >
      <ion-icon [name]="callBack2.icon" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-button
      color="warning"
      (click)="callback3()"
      *ngIf="callBack3.isActive && !buttonsActionsActive"
    >
      <ion-icon [name]="callBack3.icon" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-button
      color="danger"
      (click)="callback4()"
      *ngIf="callBack4.isActive && !buttonsActionsActive"
    >
      <ion-icon [name]="callBack4.icon" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-item>
</ion-card>
