<app-header title="internaciones"></app-header>

<ion-content>
  <!-- REFRESHER -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="crescent"
      refreshingText="Refreshing..."
    >
    </ion-refresher-content>
  </ion-refresher>

  <!-- CARDS -->

  <ion-grid fixed>
    <!-- INTERNAMENT LIST -->
    <ion-row *ngIf="internements.length === 0 && !loading">
      <ion-col>
        <div>
          <app-no-information-available></app-no-information-available>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col
        size="12"
        size-lg="6"
        size-md="6"
        size-sm="6"
        size-xs="12"
        *ngFor="let internement of this.internements; let i = index"
      >
        <ion-card>
          <ion-card-header color="light">
            <ion-card-title>Internación N°{{ i+1 }}</ion-card-title>
            <ion-card-subtitle
              >Creado: {{internement.created}}</ion-card-subtitle
            >
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item-group>
                <ion-item-divider>
                  <ion-label color="primary">Detalle</ion-label>
                </ion-item-divider>
                <ion-item>
                  <ion-label color="dark"><h3>Ingreso</h3></ion-label>
                  <ion-text>
                    <p>{{ internement.check_in }}</p>
                  </ion-text>
                </ion-item>
                <ion-item>
                  <ion-label color="dark"><h3>Egreso</h3></ion-label>
                  <ion-text>
                    <p>{{ internement.check_out }}</p>
                  </ion-text>
                </ion-item>
                <ion-item>
                  <ion-label color="dark"><h3>Enfermedad</h3></ion-label>
                  <ion-text>
                    <p>{{ internement.current_disease }}</p>
                  </ion-text>
                </ion-item>
                <ion-item>
                  <ion-label color="dark"><h3>Diagnóstico</h3></ion-label>
                  <ion-text>
                    <p>{{ internement.date_diagnosis }}</p>
                  </ion-text>
                </ion-item>
                <ion-item>
                  <ion-label color="dark"><h3>1er Síntoma/s</h3></ion-label>
                  <ion-text>
                    <p>{{ internement.date_first_simptoms }}</p>
                  </ion-text>
                </ion-item>
                <ion-item>
                  <ion-label color="dark"><h3>Óbito</h3></ion-label>
                  <ion-text>
                    <p>{{ internement.date_of_death }}</p>
                  </ion-text>
                </ion-item>
              </ion-item-group>
              <ion-item-group>
                <ion-item-divider>
                  <ion-label color="primary">Médicos</ion-label>
                </ion-item-divider>
                <ion-item *ngFor="let medic of internement.medic">
                  <ion-label>{{ medic.user.username }}</ion-label>
                </ion-item>
              </ion-item-group>
              <ion-item-group>
                <ion-item-divider>
                  <ion-label color="primary">Paciente</ion-label>
                </ion-item-divider>
                <ion-item>
                  <ion-label>{{ internement.patient.first_name }}</ion-label>
                </ion-item>
              </ion-item-group>
            </ion-list>
          </ion-card-content>
          <ion-item color="light">
            <!-- <ion-button color="success">
              <ion-icon
                name="shirt-outline"
                slot="start"
                slot="icon-only"
              ></ion-icon>
            </ion-button>
            <ion-button color="primary" (click)="create()">
              <ion-icon name="at-outline" slot="icon-only"></ion-icon>
            </ion-button>
            <ion-button color="danger">
              <ion-icon
                name="trash-outline"
                slot="end"
                slot="icon-only"
              ></ion-icon>
            </ion-button> -->
          </ion-item>
        </ion-card>
      </ion-col>
      <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="Loading more data..."
        >
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-row>
  </ion-grid>
</ion-content>
