<app-header title="internación"></app-header>

<ion-content>
  <!-- CARDS -->

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-list class="ion-margin-top">
          <ion-item button (click)="presentModalMedic()" detail="true">
            <ion-icon
              name="add-outline"
              slot="start"
              detail-icon="true"
              slot="icon-only"
            ></ion-icon>
            <ion-label>Seleccionar Medico/s</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-chip *ngFor="let medic of medics">
          <ion-icon name="heart-outline"></ion-icon>
          <ion-label>{{ medic.user.username }}</ion-label>
          <ion-icon name="close-circle" (click)="removeMedic(medic)"></ion-icon>
        </ion-chip>
      </ion-col>
      <ion-col size="12">
        <ion-chip *ngIf="patient">
          <ion-icon name="happy-outline"></ion-icon>
          <ion-label>{{ patient.first_name }}, {{patient.last_name}}</ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <form [formGroup]="internementForm" (ngSubmit)="createInternement()">
          <ion-list>
            <!-- HEADER -->
            <ion-list-header>
              <h3>Internación</h3>
              <ion-label></ion-label>
            </ion-list-header>
            <!-- INPUTS -->
            <ion-item>
              <ion-label>Síntomas Actuales</ion-label>
              <ion-input
                type="text"
                formControlName="currentDisease"
                [(ngModel)]="internement.current_disease"
                required
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Fecha de Primeros Síntomas</ion-label>
              <ion-datetime
                displayFormat="YYYY-MM-DD"
                placeholder="Primeros Síntomas"
                formControlName="dateFirstSymptoms"
                [(ngModel)]="internement.date_first_simptoms"
              ></ion-datetime>
            </ion-item>
            <ion-item>
              <ion-label>Fecha de Diagnóstico</ion-label>
              <ion-datetime
                displayFormat="YYYY-MM-DD"
                placeholder="Fecha de Diagnostico"
                formControlName="dataDiagnosis"
                [(ngModel)]="internement.date_diagnosis"
              ></ion-datetime>
            </ion-item>
            <ion-item>
              <ion-label>Ingreso</ion-label>
              <ion-datetime
                disabled
                displayFormat="YYYY-MM-DD"
                value="{{today}}"
              ></ion-datetime>
            </ion-item>
            <ion-item>
              <ion-label>Egreso</ion-label>
              <ion-datetime
                displayFormat="YYYY-MM-DD"
                placeholder="Check Out"
                formControlName="checkOut"
                [(ngModel)]="internement.check_out"
              ></ion-datetime>
            </ion-item>
            <ion-item>
              <ion-label>Fecha de Óbito</ion-label>
              <ion-datetime
                displayFormat="YYYY-MM-DD"
                placeholder="Fecha de Óbito"
                formControlName="dateOfDeath"
                [(ngModel)]="internement.date_of_death"
              ></ion-datetime>
            </ion-item>
            <ion-item>
              <ion-label>Sala</ion-label>
              <ion-select
                [interfaceOptions]="roomOptions"
                interface="alert"
                multiple="false"
                placeholder="Select Sala"
                (ionChange)="loadBeds($event)"
                formControlName="room"
              >
                <ion-select-option [value]="room" *ngFor="let room of rooms"
                  >{{ room.name }}</ion-select-option
                >
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label>Cama</ion-label>
              <ion-select
                [interfaceOptions]="bedOptions"
                interface="alert"
                multiple="false"
                placeholder="Seleccionar Cama"
                [disabled]="selectBedDisabled"
                formControlName="bed"
                [(ngModel)]="internement.bed_id"
              >
                <ion-select-option [value]="bed.id" *ngFor="let bed of beds"
                  >Cama-{{ bed.id }}{{ bed.label }}</ion-select-option
                >
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label>Cama Fuera de Sala</ion-label>
              <ion-input
                [disabled]="selectNewBedDisabled"
                type="text"
                (ionBlur)="addBedToList()"
                formControlName="bed_label"
                [(ngModel)]="newBedLabel"
              ></ion-input>
            </ion-item>
          </ion-list>
          <ion-button
            expand="full"
            type="submit"
            [disabled]="!internementForm.valid"
            >Crear Internación</ion-button
          >
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
