<div *ngIf="evolutions.length === 0 && !loading">
  <app-no-information-available></app-no-information-available>
</div>

<div class="timeline">
  <div *ngFor="let evolution of evolutions; let i = index">
    <div
      class="container left"
      [ngClass]="{ left: i % 2 === 0, right: i % 2 === 1 }"
    >
      <div class="content">
        <h2>
          {{ evolution.system }}
        </h2>
        <p>
          {{ evolution.date | date: 'medium' }}
        </p>
      </div>
    </div>
    <div
      class="container left"
      *ngFor="let ev of evolution.evolutions; let i = index"
      [ngClass]="{ left: i % 2 === 0, right: i % 2 === 1 }"
    >
      <div class="content">
        <h2>
          {{ ev.evolution_template.evolution_date | date: 'medium' }}
        </h2>

        <ion-grid>
          <ion-row>
            <ion-col>
              <h6 class="ion-padding-end" style="font-weight: 700">Médico</h6>
              <p class="ion-padding-end">
                <ion-button
                  color="primary"
                  (click)="presentModal('Medico', null, null, null, ev.medic)"
                  >{{ ev.medic.user.username }}</ion-button
                >
              </p>
            </ion-col>
            <ion-col>
              <h6 class="ion-padding-end" style="font-weight: 700">
                Estudio Médico
              </h6>
              <p
                class="ion-padding-end"
                *ngIf="ev.medical_study"
                (click)="
                  presentModal('Estudio Medico', ev.medical_study, null, null)
                "
              >
                <ion-button color="primary">{{
                  ev.medical_study.name
                }}</ion-button>
              </p></ion-col
            >
          </ion-row>
          <ion-row>
            <ion-col>
              <h6 class="ion-padding-end" style="font-weight: 700">
                Tratamiento
              </h6>
              <p class="ion-padding-end" *ngIf="ev.treatment">
                <ion-button
                  color="primary"
                  (click)="
                    presentModal('Tratamiento', null, ev.treatment, null)
                  "
                  >{{ ev.treatment.name }}</ion-button
                >
              </p>
            </ion-col>
            <ion-col>
              <h6 class="ion-padding-end" style="font-weight: 700">UTI</h6>
              <p class="ion-padding-end" *ngIf="ev.uti">
                <ion-button
                  color="primary"
                  (click)="presentModal('UTI', null, null, ev.uti)"
                  >{{ ev.uti.id }}</ion-button
                >
              </p></ion-col
            >
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>
</div>
