<ion-tabs>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="settings"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-item [detail]="false" [lines]="'none'" color="primary">
        <ion-label>{{getSystemName() | uppercase}}</ion-label>
        <ion-icon name="bandage-outline" slot="start"></ion-icon>
      </ion-item>
    </ion-fab-list>
  </ion-fab>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="user">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Usuarios</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="dashboard" *ngIf="AMIChief()">
      <ion-icon name="pie-chart-outline"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notifications">
      <span
        *ngIf="getPusherCount() > 0"
        color="danger"
        style="
          background-color: red;
          position: absolute;
          top: 0;
          right: 25px;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          line-height: 20px;
          margin-right: 1.2rem;
          color: white;
          font-weight: bold;
        "
        >{{ getPusherCount() }}</span
      >
      <ion-icon name="notifications-outline"> </ion-icon>
      <ion-label>Notificaciones</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
