<app-header title="Médico"></app-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <!-- MEDIC FORM -->
        <form [formGroup]="medicForm" (ngSubmit)="createUserMedic()">
          <ion-list>
            <ion-list-header>
              <h3><ion-label>Información de Médico</ion-label></h3>
            </ion-list-header>
            <ion-item>
              <ion-label>Legajo</ion-label>
              <ion-input
                type="text"
                formControlName="docket"
                [(ngModel)]="medic.docket"
                (focusout)="validateDocket()"
                required
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Jefe</ion-label>
              <ion-checkbox
                color="danger"
                name="is_chief"
                formControlName="isChief"
                [(ngModel)]="medic.is_chief"
                required
              ></ion-checkbox>
            </ion-item>
          </ion-list>
          <ion-row>
            <ion-col>
              <ion-button
                expand="full"
                type="submit"
                [disabled]="!medicForm.valid"
                >Crear Médico</ion-button
              >
            </ion-col>
          </ion-row>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
