<app-header title="cerrar internación"></app-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <form
          [formGroup]="internementCloseForm"
          (ngSubmit)="closeInternement()"
        >
          <ion-list>
            <!-- HEADER -->
            <ion-list-header>
              <h3>Cerrar Internación</h3>
              <ion-label></ion-label>
            </ion-list-header>
            <!-- INPUTS -->
            <ion-item>
              <ion-label>Egreso</ion-label>
              <ion-datetime
                displayFormat="YYYY-MM-DD"
                placeholder="Check Out"
                formControlName="checkOut"
                [(ngModel)]="internement.check_out"
              ></ion-datetime>
            </ion-item>
            <ion-item>
              <ion-label>Fecha de Óbito</ion-label>
              <ion-datetime
                displayFormat="YYYY-MM-DD"
                placeholder="Fecha de Óbito"
                formControlName="dateOfDeath"
                [(ngModel)]="internement.date_of_death"
              ></ion-datetime>
            </ion-item>
            <ion-item>
              <ion-label>Observación</ion-label>
              <ion-textarea
                clearOnEdit="true"
                formControlName="deathObservation"
                [(ngModel)]="internement.death_observation"
              ></ion-textarea>
            </ion-item>
          </ion-list>
          <ion-button
            expand="full"
            type="submit"
            [disabled]="!internementCloseForm.valid"
            >Cerrar Internación</ion-button
          >
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
