<ion-header>
  <ion-toolbar color="dark">
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row *ngIf="kindOfSearch==='es'">
      <ion-col size="12">
        <form [formGroup]="medicalStudyForm" (ngSubmit)="createMedicalStudy()">
          <ion-list>
            <!-- HEADER -->
            <ion-list-header>
              <h3>Evolución</h3>
              <ion-label></ion-label>
            </ion-list-header>
            <!-- INPUTS -->
            <ion-item>
              <ion-label>Nombre</ion-label>
              <ion-input
                type="text"
                formControlName="name"
                [(ngModel)]="medicalStudy.name"
                required
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Es Normal</ion-label>
              <ion-checkbox
                color="danger"
                name="is_chief"
                formControlName="isNormal"
                [(ngModel)]="medicalStudy.is_normal"
                required
              ></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Es Patológica</ion-label>
              <ion-checkbox
                color="danger"
                name="is_chief"
                formControlName="isPathological"
                [(ngModel)]="medicalStudy.is_pathological"
                required
              ></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Descripción</ion-label>
              <ion-textarea
                placeholder="Ingrese más información aquí..."
                name="is_chief"
                formControlName="description"
                [(ngModel)]="medicalStudy.description"
              ></ion-textarea>
            </ion-item>
          </ion-list>
          <ion-button
            expand="full"
            type="submit"
            [disabled]="!medicalStudyForm.valid"
            >Crear Estudio Médico</ion-button
          >
        </form>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="kindOfSearch==='t'">
      <ion-col size="12">
        <form [formGroup]="treatmentForm" (ngSubmit)="createTreatment()">
          <ion-list>
            <!-- HEADER -->
            <ion-list-header>
              <h3>Tratamiento</h3>
              <ion-label></ion-label>
            </ion-list-header>
            <!-- INPUTS -->
            <ion-item>
              <ion-label>Nombre</ion-label>
              <ion-input
                type="text"
                formControlName="name"
                [(ngModel)]="treatment.name"
                required
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Descripción</ion-label>
              <ion-textarea
                placeholder="Ingrese más información aquí..."
                name="is_chief"
                formControlName="description"
                [(ngModel)]="treatment.description"
              ></ion-textarea>
            </ion-item>
          </ion-list>
          <ion-button
            expand="full"
            type="submit"
            [disabled]="!treatmentForm.valid"
            >Crear Tratamiento</ion-button
          >
        </form>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="kindOfSearch==='uti'">
      <ion-col size="12">
        <form [formGroup]="utiForm" (ngSubmit)="createUTI()">
          <ion-list>
            <!-- HEADER -->
            <ion-list-header>
              <h3>UTI</h3>
              <ion-label></ion-label>
            </ion-list-header>
            <!-- INPUTS -->
            <ion-item>
              <ion-label>ARM</ion-label>
              <ion-checkbox
                color="danger"
                formControlName="arm"
                [(ngModel)]="uti.arm"
                required
              ></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Traquestomía</ion-label>
              <ion-checkbox
                color="danger"
                formControlName="tracheostomy"
                [(ngModel)]="uti.tracheostomy"
                required
              ></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Vasopresores</ion-label>
              <ion-checkbox
                color="danger"
                formControlName="vasopressors"
                [(ngModel)]="uti.vasopressors"
                required
              ></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Descripción ARM</ion-label>
              <ion-textarea
                placeholder="Ingrese más información aquí..."
                formControlName="armDescription"
                [(ngModel)]="uti.arm_description"
              ></ion-textarea>
            </ion-item>
            <ion-item>
              <ion-label>Descripción Vasopresores</ion-label>
              <ion-textarea
                placeholder="Ingrese más información aquí..."
                formControlName="vasopressorsDescription"
                [(ngModel)]="uti.vasopressors_description"
              ></ion-textarea>
            </ion-item>
          </ion-list>
          <ion-button expand="full" type="submit" [disabled]="!utiForm.valid"
            >Crear UTI</ion-button
          >
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
