<ion-header>
  <ion-toolbar color="dark">
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <!-- Searchbar with cancel button always shown -->
        <ion-searchbar
          showCancelButton="always"
          (ionInput)="filterList($event)"
        ></ion-searchbar>
        <!-- List of Input Items -->
        <ion-list lines="none" *ngIf="!isMultiCheck">
          <ion-item
            button
            *ngFor="let item of users"
            (click)="selectUser(item)"
          >
            <ion-label class="ion-text-wrap">
              <ion-text color="primary">
                <h3 *ngIf="kindOfSearch === 'patient'">
                  {{ item.first_name }} - {{ item.last_name }}
                </h3>
                <h3 *ngIf="kindOfSearch === 'medic'">
                  {{ item.user.username }}
                </h3>
              </ion-text>
              <p>{{ item.id }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
        <app-checkbox-search
          *ngIf="isMultiCheck"
          [medics]="users"
        ></app-checkbox-search>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
