<ion-header class="ion-no-border ion-padding-top">
  <ion-toolbar> </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-slides class="mainSlide" #mainSlide>
          <ion-slide>
            <form (ngSubmit)="login(loginForm)" #loginForm="ngForm">
              <ion-grid fixed>
                <ion-row>
                  <ion-col>
                    <img src="/assets/avatars/av-1.png" />
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col>
                    <ion-list>
                      <ion-item>
                        <ion-label>Username</ion-label>
                        <ion-input
                          name="username"
                          type="text"
                          required
                          [(ngModel)]="loginModel.username"
                        ></ion-input>
                      </ion-item>

                      <ion-item>
                        <ion-label>Password</ion-label>
                        <ion-input
                          name="password"
                          type="password"
                          required
                          [(ngModel)]="loginModel.password"
                        ></ion-input>
                      </ion-item>
                    </ion-list>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col>
                    <ion-button
                      type="submit"
                      color="tertiary"
                      shape="round"
                      [disabled]="clicked"
                    >
                      Login
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </form>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
