<ion-app>
  <ion-split-pane contentId="main" when="md">
    <!--  the side menu  -->
    <ion-menu side="start" menuId="firstMenu" contentId="main">
      <ion-header>
        <ion-toolbar color="tertiary">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let item of []">
            <!-- let item of components | async-->
            <ion-item [routerLink]="item.redirecTo">
              <ion-icon [name]="item.icon" slot="start"></ion-icon>
              <ion-label>{{ item.name }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item button (click)="authService.logout()">
              <ion-icon name="log-out-outline" slot="start"></ion-icon>
              <ion-label>Cerrar Sesión</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

    <!-- the main content -->
    <ion-router-outlet id="main"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
