<div class="container">
  <div class="row">
    <div class="col-md-6 align-self-center">
      <div class="site">
        <div class="sketch">
          <div class="bee-sketch red"></div>
          <div class="bee-sketch blue"></div>
        </div>

        <h1>No hay información disponible.<small></small></h1>
      </div>
    </div>
  </div>
</div>
