<app-header title="cambio de sistema"></app-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-item>
            <ion-icon name="pin" slot="start"></ion-icon>
            <ion-label>Cambiar de Sistema</ion-label>
          </ion-item>

          <ion-card-content>
            <form [formGroup]="changeForm" (ngSubmit)="changePatientSystem()">
              <ion-list>
                <ion-item>
                  <ion-label>Sistemas</ion-label>
                  <ion-select
                    okText="Okay"
                    cancelText="Dismiss"
                    formControlName="system_id"
                    [(ngModel)]="systemNew.system_id"
                    (ionChange)="verifyBeds($event)"
                  >
                    <ion-select-option
                      [value]="system.id"
                      *ngFor="let system of systems"
                      >{{system.name}}</ion-select-option
                    >
                  </ion-select>
                </ion-item>
                <ion-item>
                  <ion-label>Sala</ion-label>
                  <ion-select
                    [interfaceOptions]="roomOptions"
                    interface="alert"
                    multiple="false"
                    formControlName="room"
                    placeholder="Select Sala"
                    (ionChange)="loadBeds($event)"
                  >
                    <ion-select-option [value]="room" *ngFor="let room of rooms"
                      >{{ room.name }}</ion-select-option
                    >
                  </ion-select>
                </ion-item>
                <ion-item>
                  <ion-label>Cama</ion-label>
                  <ion-select
                    [interfaceOptions]="bedOptions"
                    interface="alert"
                    multiple="false"
                    placeholder="Seleccionar Cama"
                    [disabled]="selectBedDisabled"
                    formControlName="bed_id"
                    [(ngModel)]="systemNew.bed_id"
                  >
                    <ion-select-option [value]="bed.id" *ngFor="let bed of beds"
                      >Cama-{{ bed.id }}{{ bed.label }}</ion-select-option
                    >
                  </ion-select>
                </ion-item>
                <ion-item>
                  <ion-label>Etiqueta</ion-label>
                  <ion-input
                    [disabled]="selectNewBedDisabled"
                    type="text"
                    (ionBlur)="addBedToList()"
                    formControlName="bed_label"
                    [(ngModel)]="newBedLabel"
                  ></ion-input>
                </ion-item>
              </ion-list>
              <ion-button
                expand="full"
                type="submit"
                [disabled]="!changeForm.valid"
                >Transferir de Sistema</ion-button
              >
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
