<app-header title="usuario"></app-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <form
          [formGroup]="userForm"
          (ngSubmit)="createUserProfile()"
          *ngIf="this.stepUser"
        >
          <ion-list>
            <!-- HEADER -->
            <ion-list-header>
              <ion-label>Form valid: {{ this.userForm.valid }}</ion-label>
            </ion-list-header>
            <!-- INPUTS -->
            <ion-item>
              <ion-label>Tipo</ion-label>
              <ion-select
                placeholder="Select One"
                formControlName="kindOf"
                [(ngModel)]="kind_of"
                required
              >
                <ion-select-option value="medic">Medic</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label>Nombre</ion-label>
              <ion-input
                type="text"
                formControlName="firstName"
                [(ngModel)]="userProfile.first_name"
                required
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Apellido</ion-label>
              <ion-input
                type="text"
                formControlName="lastName"
                [(ngModel)]="userProfile.last_name"
                required
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>DNI</ion-label>
              <ion-input
                type="text"
                formControlName="dni"
                [(ngModel)]="userProfile.dni"
                (focusout)="validateDNI()"
                required
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Dirección</ion-label>
              <ion-input
                type="text"
                formControlName="address"
                [(ngModel)]="userProfile.address"
                required
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Telefono</ion-label>
              <ion-input
                type="text"
                formControlName="telephone"
                [(ngModel)]="userProfile.telephone"
                required
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>YYYY-MM-DD</ion-label>
              <ion-datetime
                displayFormat="YYYY-MM-DD"
                placeholder="Select Date"
                formControlName="dateOfBirth"
                [(ngModel)]="userProfile.date_of_birth"
              ></ion-datetime>
            </ion-item>
            <ion-item>
              <ion-label>Username</ion-label>
              <ion-input
                type="text"
                formControlName="username"
                [(ngModel)]="user.username"
                (focusout)="validateUsername()"
                required
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Contraseña</ion-label>
              <ion-input
                type="password"
                formControlName="password"
                [(ngModel)]="user.password"
                required
              ></ion-input>
            </ion-item>
            <!-- <ion-item>
              <ion-label>Email</ion-label>
              <ion-input
                type="email"
                formControlName="email"
                [(ngModel)]="user.email"
                required
              ></ion-input>
            </ion-item> -->
          </ion-list>
          <ion-button expand="full" type="submit" [disabled]="!userForm.valid"
            >Crear Usuario</ion-button
          >
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
