<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Notificaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- REFRESHER -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="crescent"
      refreshingText="Refreshing..."
    >
    </ion-refresher-content>
  </ion-refresher>

  <!-- CARDS -->

  <ion-grid fixed>
    <ion-row *ngIf="notifications.length === 0 && !loading">
      <ion-col>
        <div>
          <app-no-information-available></app-no-information-available>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <!-- Multi-line sliding item with icon options on both sides -->
          <ion-item-sliding id="item100" *ngFor="let item of notifications">
            <ion-item [color]="item.viewed ? '' : 'warning'">
              <ion-label class="ion-text-wrap">
                <h2>Notificación N°{{item.id}}</h2>
                <p>
                  El paciente
                  <strong
                    >{{item.patient.last_name}}, {{ item.patient.first_name}}
                  </strong>
                  necesita atención inmediata.
                </p>
                <p>{{ item.message }}</p>
                <!-- <p>Oceanic Next has joined your network</p> -->
              </ion-label>
              <ion-note slot="end"> {{ item.created }} </ion-note>
            </ion-item>

            <ion-item-options side="start">
              <ion-item-option (click)="read(item)">
                <ion-icon slot="icon-only" name="checkmark-outline"></ion-icon>
              </ion-item-option>
            </ion-item-options>

            <ion-item-options side="end">
              <ion-item-option color="danger" (click)="unread(item)">
                <ion-icon slot="icon-only" name="arrow-undo-outline"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-infinite-scroll threshold="50px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data..."
      >
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-grid>
</ion-content>
