<ion-grid fixed>
  <ion-row>
    <ion-col size="12">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{ title }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col size="6">
                <div *ngFor="let item of dataKeys">
                  <b>{{ item }}</b>
                </div>
              </ion-col>
              <ion-col size="6">
                <div *ngFor="let item of dataValues">
                  <b>{{ item }}</b>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
