<app-header title="evoluciones"></app-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <app-timeline [patientId]="patientId"></app-timeline>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
