<!-- List of Input Items -->
<ion-list lines="none">
  <ion-item *ngFor="let medic of medics">
    <ion-label class="ion-text-wrap">
      <ion-text color="primary">
        <h3>{{ medic.user.username }}</h3>
      </ion-text>
    </ion-label>
    <ion-checkbox
      slot="start"
      (ionChange)="addToList(medic, $event)"
    ></ion-checkbox>
  </ion-item>
  <ion-item button (click)="dismissModal()" detail>
    <ion-label>Seleccionar Médicos</ion-label>
  </ion-item>
</ion-list>
