<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Sistema</ion-label>
          <ion-select
            placeholder="Select One"
            (ionChange)="findDashboard($event)"
          >
            <ion-select-option
              [value]="system.id"
              *ngFor="let system of systems"
              >{{ system.name }}</ion-select-option
            >
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let room of rooms">
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ room.name }}</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col size="4" size-md="4">
                  <div *ngFor="let patient of room.patients; let i = index">
                    <ion-item
                      *ngIf="i%2 == 0"
                      button
                      (click)="goToPatient(patient.id)"
                    >
                      <ion-icon
                        name="bed-outline"
                        size="large"
                        slot="start"
                      ></ion-icon>
                      <ion-label>
                        {{ patient.last_name }}, {{ patient.first_name }}
                      </ion-label>
                    </ion-item>
                  </div>
                </ion-col>
                <ion-col size="4" size-md="4">
                  <div *ngFor="let patient of room.patients; let i = index">
                    <ion-item
                      *ngIf="i%2 == 1"
                      button
                      (click)="goToPatient(patient.id)"
                    >
                      <ion-icon
                        name="bed-outline"
                        size="large"
                        slot="start"
                      ></ion-icon>
                      <ion-label>
                        {{ patient.last_name }}, {{ patient.first_name }}
                      </ion-label>
                    </ion-item>
                  </div>
                </ion-col>

                <ion-col size="3" size-md="4">
                  <app-dashboard-room
                    [occupation]="room.occupation"
                    [freeBeds]="room.beds - room.occupation"
                  ></app-dashboard-room>
                  <div *ngIf="chart"></div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
