/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.modalCss .modal-wrapper {
  width: 600px;
  height: 40%;
  background: transparent !important;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
  -o-box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
}

.split-pane-visible > .split-pane-side {
  min-width: 250px !important;
  max-width: 250px !important;
}

:root {
  --ion-color-active: #329f5b;
  --ion-color-active-rgb: 50, 159, 91;
  --ion-color-active-contrast: #ffffff;
  --ion-color-active-contrast-rgb: 255, 255, 255;
  --ion-color-active-shade: #2c8c50;
  --ion-color-active-tint: #47a96b;

  --ion-color-inactive: #b6174b;
  --ion-color-inactive-rgb: 182, 23, 75;
  --ion-color-inactive-contrast: #ffffff;
  --ion-color-inactive-contrast-rgb: 255, 255, 255;
  --ion-color-inactive-shade: #a01442;
  --ion-color-inactive-tint: #bd2e5d;

  --ion-color-none: #465362;
  --ion-color-none-rgb: 70, 83, 98;
  --ion-color-none-contrast: #ffffff;
  --ion-color-none-contrast-rgb: 255, 255, 255;
  --ion-color-none-shade: #3e4956;
  --ion-color-none-tint: #596472;

  --ion-color-dead: #ffffff;
  --ion-color-dead-rgb: 255, 255, 255;
  --ion-color-dead-contrast: #000000;
  --ion-color-dead-contrast-rgb: 0, 0, 0;
  --ion-color-dead-shade: #e0e0e0;
  --ion-color-dead-tint: #ffffff;
}

.ion-color-active {
  --ion-color-base: var(--ion-color-active);
  --ion-color-base-rgb: var(--ion-color-active-rgb);
  --ion-color-contrast: var(--ion-color-active-contrast);
  --ion-color-contrast-rgb: var(--ion-color-active-contrast-rgb);
  --ion-color-shade: var(--ion-color-active-shade);
  --ion-color-tint: var(--ion-color-active-tint);
}

.ion-color-inactive {
  --ion-color-base: var(--ion-color-inactive);
  --ion-color-base-rgb: var(--ion-color-inactive-rgb);
  --ion-color-contrast: var(--ion-color-inactive-contrast);
  --ion-color-contrast-rgb: var(--ion-color-inactive-contrast-rgb);
  --ion-color-shade: var(--ion-color-inactive-shade);
  --ion-color-tint: var(--ion-color-inactive-tint);
}

.ion-color-none {
  --ion-color-base: var(--ion-color-none);
  --ion-color-base-rgb: var(--ion-color-none-rgb);
  --ion-color-contrast: var(--ion-color-none-contrast);
  --ion-color-contrast-rgb: var(--ion-color-none-contrast-rgb);
  --ion-color-shade: var(--ion-color-none-shade);
  --ion-color-tint: var(--ion-color-none-tint);
}

.ion-color-dead {
  --ion-color-base: var(--ion-color-dead);
  --ion-color-base-rgb: var(--ion-color-dead-rgb);
  --ion-color-contrast: var(--ion-color-dead-contrast);
  --ion-color-contrast-rgb: var(--ion-color-dead-contrast-rgb);
  --ion-color-shade: var(--ion-color-dead-shade);
  --ion-color-tint: var(--ion-color-dead-tint);
}
