<ion-header>
  <ion-toolbar color="dark">
    <!-- Segment with default selection -->
    <ion-segment (ionChange)="segmentChanged($event)" value="patient">
      <ion-segment-button value="user" *ngIf="AMISuperuser()">
        <ion-label>Usuarios</ion-label>
      </ion-segment-button>
      <ion-segment-button value="medic" *ngIf="AMISuperuser()">
        <ion-label>Medicos</ion-label>
      </ion-segment-button>
      <ion-segment-button value="patient">
        <ion-label>Pacientes</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- REFRESHER -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="crescent"
      refreshingText="Refreshing..."
    >
    </ion-refresher-content>
  </ion-refresher>

  <!-- CARDS -->

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-list class="ion-margin-top">
          <ion-item
            [routerLink]="['create']"
            routerLinkActive="router-link-active"
            *ngIf="AMISuperuser()"
          >
            <ion-icon name="add-outline" slot="start"></ion-icon>
            <ion-label>Crear Usuario</ion-label>
          </ion-item>
          <ion-item
            [routerLink]="['patient/create']"
            routerLinkActive="router-link-active"
            *ngIf="AMIGuard()"
          >
            <ion-icon name="add-outline" slot="start"></ion-icon>
            <ion-label>Crear Paciente</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <!-- SEGMENT LIST -->
    <ion-row>
      <ion-col>
        <!-- Searchbar with a placeholder -->
        <ion-searchbar
          placeholder="Filtrar..."
          debounce="500"
          showCancelButton="always"
          (ionInput)="filterList($event)"
          animated
        ></ion-searchbar>
      </ion-col>
    </ion-row>
    <!-- USER LIST -->
    <ion-row *ngIf="this.isUser && AMISuperuser()">
      <ion-col
        size="12"
        size-lg="4"
        size-md="4"
        size-sm="4"
        size-xs="12"
        *ngFor="let userProfile of this.users; let i = index"
      >
        <app-card
          [title]="userProfile.last_name"
          [subtitle]="userProfile.first_name"
          [contents]="[userProfile.address, userProfile.telephone, userProfile.user.username]"
          (callbackEvent1)="attachTo(userProfile.user_id)"
          [callBack1]="{isActive: true, icon: 'attach-outline'}"
        ></app-card>
      </ion-col>
    </ion-row>
    <!-- MEDIC LIST -->
    <ion-row *ngIf="false">
      <ion-col
        size="12"
        size-lg="4"
        size-md="4"
        size-sm="4"
        size-xs="12"
        *ngFor="let medic of this.medics; let i = index"
      >
        <app-card
          [title]="medic.user.username"
          [subtitle]="medic.user.username"
        ></app-card>
      </ion-col>
    </ion-row>
    <!-- PATIENT LIST -->
    <ion-row *ngIf="this.isPatient">
      <ion-col
        size="4"
        size-lg="4"
        size-md="6"
        size-sm="6"
        size-xs="12"
        *ngFor="let patient of this.patients; let i = index"
      >
        <app-card
          [title]="patient.last_name"
          [subtitle]="patient.first_name"
          [internementActive]="patient.is_int_active"
          [buttonsActionsActive]="patient.is_dead"
          (callbackEvent1)="patientDetail(patient)"
          [callBack1]="{isActive: true, icon: 'happy-outline'}"
          (callbackEvent2)="createInternement(patient)"
          [callBack2]="{isActive: true, icon: 'reader-outline'}"
          (callbackEvent3)="createEvolution(patient)"
          [callBack3]="{isActive: true, icon: 'pulse-outline'}"
          (callbackEvent4)="finishInternement(patient)"
          [callBack4]="{isActive: true, icon: 'heart-half-outline'}"
        ></app-card>
      </ion-col>
    </ion-row>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data..."
      >
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-grid>
</ion-content>
