<ion-row>
  <ion-col
    size="12"
    size-lg="3"
    size-md="3"
    size-sm="4"
    size-xs="6"
    *ngFor="let item of items; let i = index"
  >
    <app-card
      [title]="item.title"
      [subtitle]="item.subtitle"
      [contents]="item.subitems"
    ></app-card>
  </ion-col>
</ion-row>
