<app-header title="evolución"></app-header>

<ion-content>
  <ion-grid fixed>
    <!-- MEDIC + PATIENT + INTERNEMENT -->
    <ion-row>
      <ion-col size="12">
        <ion-chip *ngIf="medic">
          <ion-icon name="heart-outline"></ion-icon>
          <ion-label>{{ medic.user.username }}</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col size="12">
        <ion-chip *ngIf="patient">
          <ion-icon name="happy-outline"></ion-icon>
          <ion-label>{{ patient.first_name }}, {{patient.last_name}}</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col size="12" *ngIf="internement">
        <ion-chip *ngIf="patient">
          <ion-icon name="reader-outline"></ion-icon>
          <ion-label>Internación: {{ internement.id }}</ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>
    <!--TODO: CAPAZ SIRVE PARA OTRA COSA-->
    <!-- 
      <ion-row *ngIf="false">
      <ion-col size="12">
        <ion-list class="ion-margin-top">
          <ion-item button (click)="presentModalMedic()" detail="true">
            <ion-icon
              name="add-outline"
              slot="start"
              detail-icon="true"
              slot="icon-only"
            ></ion-icon>
            <ion-label>Seleccionar Medico/s</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row> -->
    <ion-row>
      <ion-col size="12">
        <ion-list class="ion-margin-top">
          <ion-item button (click)="presentModalMedicalStudy()" detail="true">
            <ion-icon
              name="add-outline"
              slot="start"
              detail-icon="true"
              slot="icon-only"
            ></ion-icon>
            <ion-label>Agregar Estudio Médico</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-chip *ngIf="medicalStudy">
          <ion-icon name="fitness-outline"></ion-icon>
          <ion-label>{{ medicalStudy.name }}</ion-label>
          <ion-icon
            name="close-circle"
            (click)="removeMedicalStudy(medicalStudy)"
          ></ion-icon>
        </ion-chip>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-list class="ion-margin-top">
          <ion-item button (click)="presentModalTreatment()" detail="true">
            <ion-icon
              name="add-outline"
              slot="start"
              detail-icon="true"
              slot="icon-only"
            ></ion-icon>
            <ion-label>Agregar Tratamiento</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-chip *ngIf="treatment">
          <ion-icon name="eyedrop-outline"></ion-icon>
          <ion-label>{{ treatment.name }}</ion-label>
          <ion-icon
            name="close-circle"
            (click)="removeTreatment(treatment)"
          ></ion-icon>
        </ion-chip>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-list class="ion-margin-top">
          <ion-item button (click)="presentModalUTI()" detail="true">
            <ion-icon
              name="add-outline"
              slot="start"
              detail-icon="true"
              slot="icon-only"
            ></ion-icon>
            <ion-label>información UTI</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-chip *ngIf="uti">
          <ion-icon name="push-outline"></ion-icon>
          <ion-label>arm</ion-label>
          <ion-icon name="close-circle" (click)="removeUTI(uti)"></ion-icon>
        </ion-chip>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <form [formGroup]="evolutionForm" (ngSubmit)="createEvolution()">
          <ion-list>
            <!-- HEADER -->
            <ion-list-header>
              <h3>Evolución</h3>
              <ion-label></ion-label>
            </ion-list-header>
            <!-- INPUTS -->
            <ion-item>
              <ion-label>Temperatura</ion-label>
              <ion-input
                type="text"
                formControlName="temperature"
                [(ngModel)]="evoultionTemplate.temperature"
                required
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Presión Sanguínea D</ion-label>
              <ion-input
                type="text"
                formControlName="bloodPressureD"
                [(ngModel)]="evoultionTemplate.blood_pressure_d"
                required
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Presión Sanguínea S</ion-label>
              <ion-input
                type="text"
                formControlName="bloodPressureS"
                [(ngModel)]="evoultionTemplate.blood_pressures_s"
                required
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Frecuencia Cardíaca</ion-label>
              <ion-input
                type="text"
                formControlName="cardiacFrequency"
                [(ngModel)]="evoultionTemplate.cardiac_frequency"
                required
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Frecuencia Respiratoria</ion-label>
              <ion-input
                type="text"
                formControlName="breathingFrequency"
                [(ngModel)]="evoultionTemplate.breathing_frequency"
                required
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Oxígeno</ion-label>
              <ion-input
                type="text"
                formControlName="o2"
                [(ngModel)]="evoultionTemplate.o2"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Saturación de Oxígeno</ion-label>
              <ion-input
                type="text"
                formControlName="o2Saturation"
                [(ngModel)]="evoultionTemplate.o2_saturation"
                required
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>PAFI</ion-label>
              <ion-input
                type="text"
                formControlName="pafi"
                [(ngModel)]="evoultionTemplate.pafi"
                required
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Observaciones</ion-label>
              <ion-textarea
                placeholder="Ingrese más información aquí..."
                formControlName="observation"
                [(ngModel)]="evoultionTemplate.observation"
              ></ion-textarea>
            </ion-item>
            <ion-item>
              <ion-label>Ventilador</ion-label>
              <ion-input
                type="text"
                formControlName="ventilator"
                [(ngModel)]="evoultionTemplate.ventilator"
                required
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Tos</ion-label>
              <ion-checkbox
                color="danger"
                formControlName="cough"
                [(ngModel)]="evoultionTemplate.cough"
                required
              ></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Prono Vigil</ion-label>
              <ion-checkbox
                color="danger"
                formControlName="pronoVigil"
                [(ngModel)]="evoultionTemplate.prono_vigil"
              ></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Disnea</ion-label>
              <ion-checkbox
                color="danger"
                formControlName="dyspnoea"
                [(ngModel)]="evoultionTemplate.dyspnoea"
              ></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Somnolencia</ion-label>
              <ion-checkbox
                color="danger"
                formControlName="drowsiness"
                [(ngModel)]="evoultionTemplate.drowsiness"
              ></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Anosmia</ion-label>
              <ion-checkbox
                color="danger"
                formControlName="anosmia"
                [(ngModel)]="evoultionTemplate.anosmia"
              ></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Disguesia</ion-label>
              <ion-checkbox
                color="danger"
                formControlName="dysguesia"
                [(ngModel)]="evoultionTemplate.dysguesia"
              ></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Require O2</ion-label>
              <ion-checkbox
                color="danger"
                formControlName="isO2Required"
                [(ngModel)]="evoultionTemplate.is_o2_required"
              ></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Requiere PAFI</ion-label>
              <ion-checkbox
                color="danger"
                formControlName="isPafiRequired"
                [(ngModel)]="evoultionTemplate.is_pafi_required"
              ></ion-checkbox>
            </ion-item>
          </ion-list>
          <ion-button
            expand="full"
            type="submit"
            [disabled]="!evolutionForm.valid"
            >Crear Evolución</ion-button
          >
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
